* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#encabezado {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 6.69em;

    padding: 0 2.69em;*/

    background-color: #4F6F52;
    color: #FFFDF8;
}

header * {
    padding: 0 1em;
}

.header-uno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #4F6F52;
    color: #FFFDF8;
}


.header-uno div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-dos {
    background-color: #618865;
    height: 50px;
}
.header-dos ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
header a {
    color: #FFFDF8;
    text-decoration: none;
}
header a:hover {
    color: #e9e9e9;
    transition: 0.5s;
    text-decoration: underline;
}
#encabezado div {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5.75em;
    width: 25.9%;

    padding: 0 3.3%;

}

#logo {

    height: 100%;
    width: auto;

    padding: 0 3.3%;
}

#icono-usr {
    width: 25px;
    height: 30px;
}

header h2, header a {
    font-size: 1em;
}

#encabezado h2 {
    height: 28%;

    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #ECE3CE;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer h6 {
    padding-top: 0.5em;
    font-weight: 600;
}
#logo {
    width: 5vh;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em 0;
    list-style-type: none;
}

footer li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 24px;
    height: 24px;
    padding-right: 0.25em;
}

.btn{
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    background-color: #F97B22;
    border: 1px solid #F97B22;
    color: #FFFDF8;
    font-size: 16px;
    text-decoration: none;
}
.btn:hover{
    transition: 0.5s;
    background-color: #FFFDF8;
    border: 1px solid #F97B22;
    color: #F97B22;
    cursor: pointer;
}
input[type=text], input[type=date], input[type=number], select, input[type=email], input[type=password]{
    margin-right: 1vh;
    background-color: transparent;
    font-size: 0.8em;
    border: none;
    border-bottom: 1px solid #F97B22;
    outline: none;
    color: black;
    padding-bottom: 0.3em;
    margin: 0 1em 1.5em 0;
}
input[type=text], input[type=number]{
    width: 25vh;
}
h6 {
    font-size: 20px;
}
