@import url(all.css);
a {
    color: #FFFDF8;
    text-decoration: none;
}
main{
    background-color: #FFFDF8;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
img{
    height: 90vh;
}
article{
    height: auto;
}
.art-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30vh;
}
input[type=text], input[type=date], input[type=number]{
    margin-right: 1vh;
    background-color: transparent;
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid #F97B22;
  outline: none;
  color: black;
  padding-bottom: 0.3em;
}