@import url(all.css);
a {
    color: #FFFDF8;
    text-decoration: none;
}
main{
    background-color: #FFFDF8;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
img{
    height: 90vh;
}
article{
    height: auto;
}
.art-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30vh;
    width: 85vh;
}
h1{
    margin-bottom: 1em;
    text-transform: uppercase;
}
.btn{
    margin-top: 1.5em;
}