@import url(all.css);
a {
    color: #FFFDF8;
    text-decoration: none;
}
main{
    background-color: #FFFDF8;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.img-reg{
    height: 90vh;
    margin: auto;
}
article{
    height: auto;
}
.art-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30vh;
    width: 85vh;
}
h1{
    margin-bottom: 1em;
    text-transform: uppercase;
}
.btn{
    margin-top: 1.5em;
}


@media screen and (max-width: 37.5em){
    .img-reg{
        display: none;
    }
    .art-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0.313em;
    }
    .art-form h1{
        margin: 2.5em;
    }
    .cont-btn{
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
    }
    input[type=text], input[type=date], input[type=email], input[type=number]{
        height: 3.125em;
    }
}